{% extends 'base/base.html' %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}
<section class="sendotp">
    <div class="container pt-5">
    <h2>Send OTP to Registered Email</h2>

    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class=" form-label">
                Email Address
            </label>
            <input type="email" class="form-control" name="email" id="email" required>
        </div>
        <button type="submit" class="btn btn-success">Send OTP</button>
    </form>
</div>
</section>
{% endblock %}