{% extends "base/base.html" %}
{% block content %}
<section class="set-password-page">
    <div class="container">
        <h2>Set New Password</h2>
        <div class="error text-danger">
            {{error}}
        </div>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            {% include 'base/includes/basic_form_field.html' %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</section>
{% endblock %}